@{
    Layout = "../Shared/_Layout.cshtml";
}

<div id="adminNavigationPanel"></div>
@*<div id="addNewProductForm"></div>
<div id="adminManagePanel"></div>
<div id="goToNewProduct"></div>*@

@section scripts
{
    <script src="~/Scripts/fileinput.js"></script>
    <script src="~/Content/ReactComponents/AdminPanel.jsx"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
}
