@{
    Layout = "../Shared/_AdminLayout.cshtml";
}

<div id="adminNavigationPanel"></div>
<div id="addNewProductForm"></div>
<div id="goToNewProduct"></div>


@section scripts
{
    <script src="~/Content/ReactComponents/AdminPanel.jsx"></script>
}
