@{
    Layout = "../Shared/_Layout.cshtml";
}

<div id="adminNavigationPanel"></div>
<div id="addNewProductForm"></div>
<div id="goToNewProduct"></div>


@section scripts
{
    <script src="~/Scripts/fileinput.js"></script>
    <script src="~/Content/ReactComponents/AdminPanel.jsx"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}