
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
</head>
<body>
<div >
    <select id="productCategories">
        <option>Wybierz</option>

    </select>
</div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document)
        .ready(function() {
            // Populate categories when the page is loaded.
            $.getJSON('/categories',
                    function(data) {
                        // Ajax success callback function. Populate dropdown from Json data returned from server.
                        $('#productCategories option').remove();
                        $('#productCategories').append('<option value=""></option>');
                        for (i = 0; i < data.length; i++) {
                            $('#productCategories')
                                .append('<option value="' + data[i].IdCategory + '">' + data[i].Name + '</option>');
                        }
                    })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    // Ajax fail callback function.
                    alert('Wystąpił błąd');
                });
        });
</script>