@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="adminForm"></div>
@Scripts.Render("~/bundles/react")
@section scripts
{
  <script src="~/Content/ReactComponents/AdminLoginForm.jsx"></script>  
}


