<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
    <hgroup>
        <h1>Wystąpił błąd.</h1>
        <h2>Spróboj ponownie lub skontaktuj się z administratorem.</h2>
    </hgroup>
</body>
</html>
