<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
<hgroup style="min-height: 500px; text-align: center; margin-top: 5%;">
    <h1>Wystąpił błąd.</h1>
    <h2>Spróbuj ponownie lub skontaktuj się z administratorem.</h2>
</hgroup>
</body>
</html>
