@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contactOptions" style="min-height: 300px">
    <div id="facebookContactOptions">
        <h3>
            Facebook:
            <a href="https://www.facebook.com/Crochet-by-Joanna-Kuczynska-300469270100790">
                <i class="fa fa-facebook-square" style="font-size: 30px; color: royalblue"></i>
            </a>
        </h3>
    </div>
    <div id="emailContactOptions">
        <h3>
            Email: kontakt@crochetbyjk.pl
        </h3>
    </div>
</div>