@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tiles"></div>
<div id="aboutMe"  data-aos="fade-down"></div>


@Scripts.Render("~/bundles/react")
@section scripts{
    <script src="~/Content/ReactComponents/ItemCointainer.jsx"></script>
    <script src="~/Content/ReactComponents/AboutMe.jsx"></script>
    <script>AOS.init({duration: 2000});</script>
}
