@model IEnumerable<CrochetByJk.ViewModel.ProductTileViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.React("CategoryProducts", new
{
    products = Model
})
<div id="aboutMeContainer" data-aos="fade-down"></div>

@Scripts.Render("~/bundles/react")
@section scripts{
    <script src="~/Content/ReactComponents/CategoryProducts.jsx"></script>
    <script src="~/Content/ReactComponents/AboutMe.jsx"></script>
    <script>AOS.init({ duration: 2000 });</script>
    @Html.ReactInitJavaScript()
}
