@{
    ViewBag.Title = "Brak produtków";
    Layout = "../Shared/_Layout.cshtml";
}

<div style="min-height: 500px; text-align: center; margin-top: 5%;">
    <h1>Przepraszamy</h1>
    <p>Chwilowo brak produktów w tej kategorii</p>
</div>
