@{
    ViewBag.Title = "Brak produtków";
    Layout = "../Shared/_Layout.cshtml";
}

<div style="text-align: center; margin: 15%;">
    <h1>Przepraszamy</h1>
    <p>chwilowo brak produktów w tej kategorii</p>
</div>
