@model CrochetByJk.ViewModel.ProductWithSeeAlsoProductsViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

@Html.React("ProductDetails", new
{
    product = Model
})

<div id="seeAlsoContainer">
    <p>Zobacz również</p>
    @Html.React("CategoryProducts", new
    {
        products = Model.SeeAlsoProducts
    })
</div>

@section scripts
{
    <script src="~/Content/ReactComponents/ProductDetails.jsx"></script>
    <script src="~/Content/ReactComponents/CategoryProducts.jsx"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>AOS.init({ duration: 2000 });</script>
    @Html.ReactInitJavaScript()
}